@import "colors.scss";
@import "variables.scss";

html {
  // Operations
  font-size: 0.8em + 0.2;           //1 
  width: 100%     //75;
}

body{
  font-family: $fontFamily1;
  background: $backgroundColor2;
}

/* Header */
header {
    width: 100%;
    min-height: 400px;
    padding-top: 3em;
}
        
#home header {
    background: no-repeat $backgroundColor1 url(/public/images/rose_wide.jpeg);
    background-size: 1500px;
}
        
.main-header {
    background-color:rgba(255, 255, 255, 0.8);
    width: 700px;
    margin: 4em auto 0 auto; /* auto will be centered with in the header */
    min-height: 100px;
    height: 100px;
}

/* Nevigation */
.container {
    margin-top: 3em;
}
.main-menu {
    font-weight: $fontWeight;
}
nav {
    height: 100px;
}

.main-menu ul li {
    list-style-type: none;
    display: inline;
    float: left;
    padding-left:40px;
    padding-right: 35px;
    border-left: 1px solid $navborderColor;
    line-height: 100px;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    
    a {
        text-decoration: none;
        color:#888; /* Mouse over */
    }

    a:hover {
        color:$mouseoverColor;
    }
 }
  
.main-menu .nav-item .active {
    background: $color2;
    border: none; 
    font-weight: bold;
}

.main-menu .nav-item .active a {
    color: #fff;
} 

.navbar-main {
    margin: 0 auto;
    background-color: rgba(255,255,255, 0.4) !important;
    width: 80%;

    button {
        margin-right: 20px;
        background-color: rgba(202, 204, 202, 0.6);
    }
}

.navbar-expand-lg {
    justify-content: flex-end;
}
        
/* SignUp LogIn */
.main-header-singup {
    margin-right: 20px;

}
.signup-login {
    background-color: transparent;
}
.signup-login .nav-right {
    float: right;
    padding: 0px 0px 60px 60px;

    ul li{
                float: left;
                list-style-type: none;
                display: inline;
                padding-left: 2px;
                color:#888;
    }

    ul li a {
        text-decoration: none;
        color:#888; /* Mouse over */
    }

    ul li a:hover {
        color:$mouseoverColor; /* Mouse over */
    }
}

/* Main */
#home main {
    font-family: 'Noto San SC', Arial, Helvetica, sans-serif;
    margin: 80px 70px;

    h2 {
        color:#A49393;
        padding-bottom: 15px;
        font-size: 30px;
    }

    p {
        font-size: 12px;
    }

}

/* Footer */
        footer {
            width: 100%;
            height: 155px;
            padding-bottom: 1em;
            background-color: rgba(220,174,150, 0.4);
            /* margin: -80px 5px; */
        }
        footer #nondisclaimer .copy{
            padding: 3.5em 3.5em 3.5em 13em;
            float: left;
            font-size:  0.9em;
            color:rgb(220,174,150);
        }
        footer #nondisclaimer .social{
            padding: 2.5em;
            margin-right: 9.25em;
            float: right;
        }
        footer #disclaimer {
            clear: both;
        }
        footer #disclaimer p {
            font-size: 0.85em;
            text-align: center;
            color:rgb(220,174,150);
        }
        footer #nondisclaimer .social .fa{
            vertical-align: middle;
            font-size: 15px;
            width: 30px;
            height: 30px;
            text-align: center;
            text-decoration: none;
            margin: 0px 3px;
            border-radius: 50%;
            line-height: 30px !important;
        }

        footer #nondisclaimer .social .fa:hover{
            opacity: 0.7;
        }
        footer #nondisclaimer .social .fa-facebook{
            background: $color1;
            color:white;
        }
        footer #nondisclaimer .social .fa-twitter{
            background: $color2;
            color:white;
        }
        footer #nondisclaimer .social .fa-instagram{
            background: $color3;
            color:white;
        }
        /* Contact */
        .contactinfo span{
            font-size: 12px;
        }
        .contactinfo span:first-child{
            font-weight: bold;
        }
        /* Start contact form */
        /* form {
            width: 1000px;
            margin-top: 10px;
            font-size: 12px;
        } */
        fieldset {
            padding-top: 20px;
            padding-left: 50px;
        }
        legend {
            font-size: 15px;
            font-weight: bold;
            text-transform: uppercase;
            color:#4977D1;
            margin-left: -20px;
        }
        input {
            display: block;
        }
        input[type="text"] {
            width: 300px;
        }
        input[type="email"] {
            width: 300px;
        }
        input[type="radio"] {
            display: inline-block;
            font-size: 10px;
            margin-bottom: 15px;
        }
        input[type="submit"] {
            color:#fff;
        }
        label {
            font-weight: bold;
            /* margin-top: 5px; */
        } /*? padding*/
        form .textbox input {
            margin-bottom: 10px;
            font-size:10px;
        } /* select the right selector to apply changes*/
        form .selectmenu select {
            margin-bottom: 15px;
            width: 130px;
            text-align: center;
        }
        form .commentbox label {
            display: block;
        }
        form .commentbox textarea {
            width: 300px;
            height:100px;   
        }
        form .randomcode {
            width: 10%;
            text-align: left;
            margin-top: 10px;
        }
          
        form .randomcode input {
            margin-left: 10px;
            height: 2em;
        }
        form .randomcode #codes {
            display: inline;
            padding: 1em;
            background-color: #c0c0c0;
            float: left;
        }
        form .button {
            margin: 5px auto 20px 20px;
            border: none;
            outline: none;
        }

        /* End contact form */


        /* Start JS code generator */
        .randomcode {
            display: flex;
            justify-content: space-start;
            height: 40px;
        }
        .randomcode input {
            width: 100px;
            height: auto;
            margin-left: 100px;
            text-align: center;
        }
        #codes {
            width: 95px;
            height: 26px;
            text-align: center;
            background: lightgrey;
            margin: 0px 0px 0px 5px;
            padding-top: 13px;

        }
        .selected {
            background: darkgreen;
        }

        /* End JS code generator */



/* End external CSS for website */ 


/* Register page */
.form {
    width: 100%;
    /* -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; */
    font-size: 12px;

}

.form-left {
    width: 70%;
    float: left;
}

.login-right {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    width: 28%;
    float: right;
    background-color: rgba(220,174,150, 0.3);
}


.form h3 {
    font-weight: bold;

    label{
        font-size: 20px;
        font-weight: lighter;
    }
    input {
        height: 30px;
    }
    .btn {
        margin-top: 1em;
        background-color: $color3;
        border: none;
    }
}









