/* Start external CSS for website */  
/* https://www.canva.com/colors/color-palettes/rosy-flamingo/ */
/* https://www.canva.com/colors/color-palettes/mermaid-lagoon/ */
/* Download fonts*/

        /* Header */
        header {
            width: 100%;
            min-height: 400px;
            padding-top: 3em;
        }
        #home header {
            background: no-repeat lightgrey url(images/rose_wide.jpeg);
            background-size: 1500px;
        }
        #activities header {
            background: no-repeat lightgrey url(images/runfly.jpeg);
            background-size: 1500px;        
        }
        #contact header {
            background: no-repeat lightgrey url(images/cliff_rock.jpeg);
            background-size: 1500px;        
        }
        #cliffs header {
            background: no-repeat lightgrey url(images/forest_cliff.jpeg);
            background-size: 1500px;
        }
        .main-header {
            background-color:rgba(255, 255, 255, 0.8);
            opacity: 0.7;
            width: 700px;
            margin: 4em auto 0 auto; /* auto will be centered with in the header */
            min-height: 100px;
            height: 100px;
        }
        .main-header .logo img{
            width: 100px;
            height:100px;
            margin: 0 2em 0 0;
            float: left;
        }

        /* Nevigation */
        .container {
            margin-top: 3em;
        }
        .main-menu {
            /* margin-left: 227px; */
            /* display: flex;
            justify-content: end; */
            font-weight: 400;
        }
        nav {
            height: 100px;
            /* background:rgba(255, 255, 255, 0.2); */
        }

        .main-menu ul li {
            list-style-type: none;
            display: inline;
            float: left;
            padding-left: 15px;
            padding-right: 15px;
            border-left: 1px solid rgba(202, 204, 202, 0.6);
            line-height: 100px;
            text-transform: uppercase;
            font-size: 14px;
            text-align: center;
            /* margin-top: -5px; when introduce flex, some value need to manual adjust */
        }
        .main-menu ul li a {
            text-decoration: none;
            color:#888; /* Mouse over */
        }       
        .main-menu ul li a:hover {
            color:#9ed034; /* Mouse over */
        }
        .main-menu ul li.active {
            background: #DEB3AD;
            border: none; 
            font-weight: bold;
        }   
        .main-menu ul li.active a {
            color: #fff;
        }   
        .navbar-main {
            margin: 0 auto;
            background-color: rgb(255,255,255, 0.4) !important;
            width: 80%;
        }

        .navbar-main button {
            margin-right: 20px;
            background-color: rgba(202, 204, 202, 0.6);
        }
        .navbar-expand-lg {
            justify-content: flex-end;
        }
        
        /* .main-menu ul li.active a:hover {
            color:#fff; /* Mouse over */
        /* SignUp LogIn */
        .main-header-singup {
            margin-right: 20px;

        }
        .signup-login {
            background-color: transparent;
        }
        .signup-login .nav-right {
            float: right;
            padding: 0px 0px 60px 60px;
        }
        .signup-login .nav-right ul li{
            float: left;
            list-style-type: none;
            display: inline;
            padding-left: 2px;
            color:#888;
        }

        .signup-login .nav-right ul li a {
            text-decoration: none;
            color:#888; /* Mouse over */
        }
        .signup-login .nav-right ul li a:hover {
            color:#774A62; /* Mouse over */
        }
        

        /* Main */
        #home main {
            font-family: 'Noto San SC', Arial, Helvetica, sans-serif;
            margin: 80px 70px;
        }
        #home main h2 {
            color:#A49393;
            padding-bottom: 15px;
            font-size: 30px;
        }
        #home main p {
            font-size: 12px;
        }
        #cliffs main {
            font-family: Arial, Helvetica, sans-serif;
            margin: 80px 70px;
        }
        #cliffs main h2 {
            color:#9ed034;
            padding-bottom: 15px;
            font-size: 30px;
        }
        #cliffs main p {
            font-size: 12px;
            display: block;
        }
        #activities main {
            font-family: Arial, Helvetica, sans-serif;
            margin: 80px 70px;
        }
        #activities main h1 {
            color:#9ed034;
            padding-bottom: 15px;
            font-size: 30px;
        }
        #contact main {
            font-family: Arial, Helvetica, sans-serif;
            margin: 80px 70px;
        }
        #contact main h1 {
            color:#9ed034;
            padding-bottom: 15px;
            font-size: 30px;
        }
        #contact main p {
            font-size: 12px;
        }
        /* Partners */
        section {
            width: 100%;
            background-color: #4288c3;
            /* margin: 60px 0; */
        }
        section #partners {
            width: 100%;
            padding: 2em 0 2em 0;
            margin: 0 auto;
            text-align: center;
        }
        section #partners .partner {
            display: inline-block;
            margin: 0 0.75em;
            padding: 1.3em 1.5em;
            background-color: #fff;
            border-radius: 50%;
        }
        section #partners .partner img {
            width: 90px;
            height: 90px;
        }
        /* Footer */
        footer {
            width: 100%;
            height: 155px;
            padding-bottom: 1em;
            background-color: rgba(220,174,150, 0.4);
            /* margin: -80px 5px; */
        }
        footer #nondisclaimer .copy{
            padding: 3.5em 3.5em 3.5em 13em;
            float: left;
            font-size:  0.9em;
            color:rgb(220,174,150);
        }
        footer #nondisclaimer .social{
            padding: 2.5em;
            margin-right: 9.25em;
            float: right;
        }
        footer #disclaimer {
            clear: both;
        }
        footer #disclaimer p {
            font-size: 0.85em;
            text-align: center;
            color:rgb(220,174,150);
        }
        footer #nondisclaimer .social .fa{
            vertical-align: middle;
            font-size: 15px;
            width: 30px;
            height: 30px;
            text-align: center;
            text-decoration: none;
            margin: 0px 3px;
            border-radius: 50%;
            line-height: 30px !important;
        }

        footer #nondisclaimer .social .fa:hover{
            opacity: 0.7;
        }
        footer #nondisclaimer .social .fa-facebook{
            background: #8C4F2F;
            color:white;
        }
        footer #nondisclaimer .social .fa-twitter{
            background: #AE623A;
            color:white;
        }
        footer #nondisclaimer .social .fa-instagram{
            background: #C57951;
            color:white;
        }
        /* Activities */
        table {
            width: 1000px;
            margin: 4em 2em 4em 4em;
        }
        caption {
            background: #852B1B;
            height: 40px;
            color: #fff;
            font-size: 1.3em;
            font-weight: bold;
            padding-top: 1em;

        }
        thead {
            background: #bde1ff;
        }
        tbody {
            background: #eeffe6;
            text-align: center;
        }
        th, td {
            width: 225px;
            height: 75px;
            vertical-align: middle;
            border: 1px solid #852b1b;
        }
        th:first-child {
            width: 125px;
            height: 50px;
            background: #4977d1;
            color: #fff;

        }
        td:first-child {
            font-weight: bold;
            background: #bde1ff;
        }
        /* Contact */
        .contactinfo span{
            font-size: 12px;
        }
        .contactinfo span:first-child{
            font-weight: bold;
        }
        /* Start contact form */
        form {
            width: 1000px;
            margin-top: 10px;
            font-size: 12px;
        }
        fieldset {
            padding-top: 20px;
            padding-left: 50px;
        }
        legend {
            font-size: 15px;
            font-weight: bold;
            text-transform: uppercase;
            color:#4977D1;
            margin-left: -20px;
        }
        input {
            display: block;
        }
        input[type="text"] {
            width: 300px;
        }
        input[type="email"] {
            width: 300px;
        }
        input[type="radio"] {
            display: inline-block;
            font-size: 10px;
            margin-bottom: 15px;
        }
        input[type="submit"] {
            color:#fff;
        }
        label {
            font-weight: bold;
            /* margin-top: 5px; */
        } /*? padding*/
        form .textbox input {
            margin-bottom: 10px;
            font-size:10px;
        } /* select the right selector to apply changes*/
        form .selectmenu select {
            margin-bottom: 15px;
            width: 130px;
            text-align: center;
        }
        form .commentbox label {
            display: block;
        }
        form .commentbox textarea {
            width: 300px;
            height:100px;   
        }
        form .randomcode {
            width: 51.5%;
            text-align: right;
        }
          
        form .randomcode input {
            margin-right: 1em;
            height: 2em;
        }
          
        form .randomcode #codes {
            display: inline;
            padding: 1em;
            background-color: #c0c0c0;
        }
        form .button {
            margin: 10px auto 20px 200px;
            border: none;
            outline: none;
        }
        form .button input {
            width: 105px;
            border: none;
            outline: none;
            text-align: center;
            padding: 5px 10px;
            /* background: #4977D1; */

        }
        /* End contact form */

        /* Start images gallery */
        #images {
            display: flex;
            flex-flow: column; 
            margin-top: 3em;
            margin-bottom: 3em;
        }
        #images div.row {
            display: flex;
            flex-flow: row;
            justify-content: center; /* to control the pic in center */
        }
        #images div.row a {
            padding-left: 50px;
        }
        #images div.row h4 {
            background: rgb(102, 46, 6);
            height: 40px;
            font-family: Arial, Helvetica, sans-serif;
            color: #fff;
            text-align: center;
            padding-top: 20px;
            margin-bottom: 0px;
        }
        #images img{
            width: 350px;
        }
        /* End images gallery*/

        /* Start JS currentTime() */
        #timeofday {
            background: rgb(118,213,245);
            background: linear-gradient(180deg, rgba(118,213,245,1) 0%, rgba(215,215,139,1) 100%);
            height: 50px;
            text-align: center;
            padding-top: 25px;
        }
        #timeofday span {
            font-family: Arial, Helvetica, sans-serif;
            color: #125688;
        }
        #timeofday span:first-child {
            color: #3a3a3a;
        }
        /* End JS currentTime() */

        /* Start JS code generator */
        .randomcode {
            display: flex;
            justify-content: space-start;
            height: 40px;
        }
        .randomcode input {
            width: 100px;
            height: auto;
            margin-left: 100px;
            text-align: center;
        }
        #codes {
            width: 95px;
            height: 26px;
            text-align: center;
            background: lightgrey;
            margin: 0px 0px 0px 5px;
            padding-top: 13px;

        }
        .selected {
            background: darkgreen;
        }

        /* End JS code generator */

        /* Start selected activities enqueries */
        #activities main #displaySelected {
            visibility: hidden;
            width: 600px;
            border-style: solid;
            border-color: #9ed034;
            border-width: 4px;
            padding: 0.25em;
            margin-left:200px;
            display: block;
        }
        #activities main #displaySelected #result, #activities main #displaySelected #sendinfo {
            display: inline-block;
        }
        #activities main #result {
            min-height: 50px;
            width: 300px;
            padding: 0;    
        }
        #activities main #result h4{
            margin-bottom:1em;
            font-size:1.15em;
        }
        #activities main #displaySelected #sendinfo input[type="email"]{
            width: 200px;
            display: inline-block;
        }
        /* End selected activities enqueries */


/* End external CSS for website */ 
/* Home page */  
/* homepage Card */  
.service {
    margin: 40px 200px 0px 200px;
}
.service-left {
    height: 200px;
    width: auto;
}

.service-left .card {
    width: 100%;
    height: 170px;
    margin: 30px 10px 100px 100px;
    flex-direction: row;
    border: none;

}  
.service-left .card-img {
    min-height: 80px;
    width: 28%;
    float: left;
}

.service-left .card-img img {
    max-height: 170px;
    width: 100%;
    object-fit: cover;
}

.service-left .card-body {
    width: 70%;
    float: right;
}

.service-right {
    height: 200px;
}

.service-right .card {
    width: 100%;
    height: 170px;
    margin: 30px 10px 100px 100px;
    flex-direction: row;
    border: none;
}  

.service-right .card-img {
    min-height: 80px;
    width: 28%;
    float: left;
}

.service-right .card-img img {
    max-height: 170px;
    width: 100%;
    object-fit: cover;
}

.service-right .card-body {
    width: 70%;
    float: right;
    text-align: right;
}

/* Register page */
.form {
    width: 60%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}
.form h3 {
    font-weight: bold;
}
form label{
    font-size: 20px;
    font-weight: lighter;
}

form input {
    height: 30px;
}

form .btn {
    margin-top: 1em;
    background-color: #C57951;
    border: none;
}



