doctype html
head
  title Xi Wedding Checklist
  meta(charset='utf-8')
  meta(name='viewport' content='width = device-width, initial-scale = 1, shrink-to-fit = no')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='/public/css/index.css')
  link(href='https://fonts.google.com/noto/specimen/Noto+Sans+SC?subset=chinese-simplified' rel='stylesheet')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1' crossorigin='anonymous')
  link#bootstrap-css(href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css' rel='stylesheet')
#container
  header
    .main-header-singup
      .signup-login
        .nav-right
          ul
            li
              a(href='signup.html') Sign Up
            li |
            li
              a(href='login.html') Log In
    .container.sticky-top
      .navbar-main
        nav.navbar.navbar-expand-lg.navbar-dark
          .container-fluid
            button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
              span.navbar-toggler-icon
            #navbarNav.collapse.navbar-collapse.justify-content-center
              .main-menu
                ul.navbar-nav
                  li.nav-item.active
                    a(href='index.html') Home
                  li.nav-item
                    a(href='index.html') Press
                  li.nav-item
                    a(href='index.html') Inspiration
                  li.nav-item
                    a(href='index.html') Checklist
                  li.nav-item
                    a(href='index.html') Vendors
  main
    .container
      .form-left
        .col-md-12
          form(action='/post' method='post')
            fieldset
              legend Share Your Inspiration
              .commentbox
                label Content Title
                input(type='text' name='post-title' placeholder='my inspiration ...')
                label Content
                textarea
              .row
                .randomcode
                  input#codeentered(type='text' name='randomcode' placeholder='Enter characters')
                  p#codes
              .row
                .col-sm-6.col-md-12
                  button#submit.btn.btn-info(type='button' style='width:100px;margin-right:6em;')
                    span.fa.fa-paper-plane-o.fa-2x(style='font-size:24px;color:white;')
                    | Send
                    // <input type="submit" value="Send" id="submit">
    .container
      .col-md-12
        h3 Alice in Wonderland, part dos
        p
          | &apos;You ought to be ashamed of yourself for asking such a simple question,&apos; added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, &apos;Drive on, old fellow! Don&apos;t be all day about it!&apos; and he went on in these words:
          | &apos;Yes, we went to school in the sea, though you mayn&apos;t believe it&mdash;&apos;
          | &apos;I never said I didn&apos;t!&apos; interrupted Alice.
          | &apos;You did,&apos; said the Mock Turtle.
        div
          span.badge Posted 2012-08-02 20:47:04
        hr
        h3 Revolution has begun!
        p
          | &apos;I am bound to Tahiti for more men.&apos;
          | &apos;Very good. Let me board you a moment&mdash;I come in peace.&apos; With that he leaped from the canoe, swam to the boat; and climbing the gunwale, stood face to face with the captain.
          | &apos;Cross your arms, sir; throw back your head. Now, repeat after me. As soon as Steelkilt leaves me, I swear to beach this boat on yonder island, and remain there six days. If I do not, may lightning strike me!&apos;A pretty scholar,&apos; laughed the Lakeman. &apos;Adios, Senor!&apos; and leaping into the sea, he swam back to his comrades.
        div
          span.badge Posted 2012-08-02 20:47:04
        hr
footer
  #nondisclaimer
    .copy &copy; Copyright 2020 :: GreatCliffs.com
    .social
      a.fa.fa-facebook(href='#')
      a.fa.fa-instagram(href='#')
      a.fa.fa-twitter(href='#')
  #disclaimer
    p
      | This website is designed and created solely for educational purposes only at Westcliff University. All contents are not intended for any commercial gain or use.
script(src='/public/js/randomcodes.js')
script(src='//code.jquery.com/jquery-1.11.1.min.js')
script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js' integrity='sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW' crossorigin='anonymous')
